<ion-view style="background-color: #f8f8f8;" ng-init="init()">
    <ion-content scroll="false">
        <div class="bar bar-header bar-calm ajuste-altura">
            <span class="titulo">Feed</span>
        </div>
        <div class="conteudo">
            <!-- Cabeçalho do conteúdo -->
            <div class="header-conteudo">
                <a ng-href="/#/listaFeed">
                    <button class="button button-stable posicao-botao-voltar">
                        Voltar
                    </button>
                </a>
                <span class="titulo-header-conteudo" style="margin-left: 10px;">{{feedAtual}}</span>
                <a ng-href="/#/registrarPost">
                    <button class="button button-stable posicao-botao">
                        Adicionar Post
                    </button>
                </a>
            </div>
            <!-- listagem -->
            <div ng-if="listaPosts == '' || listaPosts == null" class="msgAtencao">
                Nenhum post criado
            </div>
            <ul class="list" style="margin-top: 15px;">
                <li class="item" ng-class="{'lido' : item.lido == false}" ng-repeat="item in listaPosts" style="font-size: 20px;" ng-click="verPost(item)">
                    {{item.title}}&nbsp;<img src="../img/check.png" ng-if="item.read">
                    <span class="feed-acao">
                        <i class="icon ion-chevron-right"></i>
                    </span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>