<ion-view cache-view="false" style="background-color: #f8f8f8;" ng-init="init()">
    <ion-content scroll="false">
        <div class="bar bar-header bar-calm ajuste-altura">
            <span class="titulo">Feed</span>
        </div>
        <div class="conteudo">
            <!-- Cabeçalho do conteúdo -->
            <div class="header-conteudo">
                <div class="titulo-header-conteudo-feed">Feeds</div>
                <div class="botao-add">
                    <a ng-click="addFeed()">
                        <button class="button button-stable posicao-botao-add">
                            Adicionar feed
                        </button>
                    </a>
                </div>
            </div>
            <!-- listagem -->
            <div ng-if="feeds == '' || feeds == null" class="msgAtencao">
                Nenhum feed adicionado
            </div>
            <ul class="list" style="margin-top: 15px;">
                <li class="item" ng-repeat="item in feeds track by $index" style="font-size: 20px;">
                    <span ng-click="excluir(item.guid)" style="z-index: 999; cursor: pointer">
                        <i class="icon ion-close icon-excluir"></i>
                    </span>
                    {{item.name}}
                    <span class="feed-acao" ng-click="obterListaPosts(item.guid)" style="cursor: pointer">
                        <i class="icon ion-chevron-right"></i>
                    </span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>