<ion-view style="background-color: #f8f8f8;" ng-init="init()">
    <ion-content scroll="false">
        <div class="bar bar-header bar-calm ajuste-altura">
            <span class="titulo">Feed</span>
        </div>
        <div class="conteudo">
            <!-- Cabeçalho do conteúdo -->
            <div class="header-conteudo">
                <span class="titulo-header-conteudo">Feeds</span>
                <a ng-href="/#/registrarFeed">
                    <button class="button button-stable posicao-botao">
                        Adicionar feed
                    </button>
                </a>
            </div>
            <!-- listagem -->
            <div ng-if="feed == '' || feed == null" class="msgAtencao">
                Nenhum feed adicionado
            </div>
            <ul class="list" style="margin-top: 15px;">
                <li class="item" ng-repeat="item in feed track by $index" style="font-size: 20px;" ng-click="obterListaPosts(item.guid, item.name)">
                    <span><i class="icon ion-close icon-excluir" ng-click="excluir($index)"></i></span>
                    {{item.name}}
                    <span class="feed-acao">
                        <i class="icon ion-chevron-right"></i>
                    </span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>