.ajuste-altura{
    height: 70px !important;
    position: relative !important;
}

.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;

}

.conteudo{
    width: 50vw;
    position: relative;
    margin: 0 auto;
    background: white;
    padding: 0 30px 20px;
}

.header-conteudo{
    height: 75px;
    position: relative;
    border-bottom: 1px solid black;
}

.titulo-header-conteudo{
    font-size: 25px;
    left: 25px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.posicao-botao{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0%, -50%);
    border: 1px solid #ccc !important;
}

.listagem{
    height: 50px;
    width: 100%;
    position: relative;
    padding: 0 40px;
}

.feed{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 20px;
}

.feed-acao{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0%, -50%);
    font-size: 20px;
}

.listagem-item{
    border-bottom: 1px solid #ccc; 
    position: relative;
    height: 50px;
}

/* POPUP */

.popup{
    width: 400px !important;
}

.popup-title{
    font-size: 25px !important;
}

.popup-sub-title{
    font-size: 17px !important;
}