.ajuste-altura{
    height: 70px !important;
    position: relative !important;
}

.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;

}

.conteudo{
    width: 50vw;
    position: relative;
    margin: 0 auto;
    background: white;
    padding: 0 30px 20px;
}

.header-conteudo{
    height: 75px;
    position: relative;
}

.titulo-header-conteudo{
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.posicao-botao{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
    border: 1px solid #ccc !important;
}

.listagem{
    height: 50px;
    width: 100%;
    position: relative;
    padding: 0 40px;
}

.feed{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 20px;
}

.feed-acao{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
    font-size: 20px;
}

.listagem-item{
    border-bottom: 1px solid #ccc; 
    position: relative;
    height: 50px;
}

.icon-excluir{
    margin-right: 20px;
}

.msgAtencao{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
}
